@font-face
  font-family ubuntu
  src url('../fonts/Ubuntu-L.ttf')
@font-face
  font-family aaargh
  src url('../fonts/Aaargh.ttf')
@font-face
  font-family colab
  src url('../fonts/ColabThi.otf')

primaryColor = #2C3E50
secondaryColor = #E74C3C
3Color = #ECF0F1
4Color = #3498DB
5Color = #2980B9

body
  margin 0

h1
  font-family ubuntu
  margin 0

h2
  font-family ubuntu
  margin 0

h3
  font-family ubuntu
  margin 0

.header
  height 70px
  width 100%
  border-bottom 1px solid #ddd

  .logo
    width 15%
    float left
    font-family sans-serif
    font-weight bold
    font-size 20px
    position relative
    padding-top 10px

    p
      margin 0
      font-family ubuntu
      font-size 15px
      padding-left 15px
/*    span
      padding-left 15px
      top 50%
      transform translateY(-50%)
      position absolute
      */

  .title
    width 70%
    height 100%
    float left

    h1
      margin auto
      text-align center

  .extra
    width 15%
    height 100%
    float left

    .icon
      position relative
      width 50%
      height 100%
      float left
      text-align right

      .circle
        position absolute
        height 30px
        width 30px
        right 0
        background-color #ccc
        background-image url('../img/ray.jpg')
        background-size cover
        border-radius 15px
        top 50%
        transform translateY(-50%)

    .more
      position relative
      width 50%
      height 100%
      float left

      .lines
        position absolute
        width 30px
        height 30px
        left 25%
        top 50%
        transform translateY(-50%) translateX(-50%)
        cursor pointer

        .line
          position absolute
          background-color primaryColor
          height 2px
          width 80%
          left 10%
          border-radius 2px

        .top
          top 25%

        .middle
          top 50%

        .bottom
          top 75%

      .lines:hover .line
        background-color secondaryColor


.cover
  position relative
  width 100%
  height 600px
  overflow hidden

  .darker
    position absolute
    z-index 4
    height 100%
    width 100%
    background-color #4444

  .image
    position absolute
    width 100%
    height 800px

  .headline
    z-index 5
    top 50%
    transform translateY(-50%)
    position absolute
    width 100%

    h2
      text-align center
      width 100%
      font-size 150px
      color white

.entry
  width 700px
  margin auto

  h2
    color primaryColor
    font-size 60px
    margin 15px 0 15px 0

  h3
    font-size 25px
    font-family aaargh
    margin 15px 0 15px 0
    color secondaryColor

  p
    font-size 25px
    line-height 1.5
    font-family colab
